<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ArchivePath" value="c:\Test\Archive\"/>
    <add key="PathToMonitor" value="c:\Test\"/>
    <add key="MACOLA_CONNECTION" value="macola_con"/>
  </appSettings>
  <connectionStrings>
    <add name="macola_con" connectionString="server=colexactdb01.us.cibt.local;database=900;trusted_connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>